---
import { Image } from "astro:assets";
import "../../../styles/trident/trident.css";

import TridentFooter from "./TridentFooter.astro";
import TridentPrevNextButtons from "./TridentPrevNextButtons.astro";
import TridentSection from "./TridentSection.astro";
import TridentSectionSelector from "./TridentSectionSelector.astro";
import { sections } from "../../../data/tridentConfig.json";
import Layout from "../../../layouts/Layout.astro";

import tridentLogo from "../../../images/trident-logo.png";

const section = Astro.props.section as number;
---

<Layout
  title="Trident Audio Tour | drewmca.dev"
  desc="An audio project exploring the dynamics of work at Trident, Booksellers & Cafe, by Drew McArthur"
>
  <div class="trident-header">
    <h1>Trident Audio Tour</h1>
    <Image src={tridentLogo} alt="Trident Logo" class="trident-logo" />
  </div>
  <span class="date">{sections[section].date}</span>
  <p class="lead">
    <em>
      Trident is an employee-owned bookstore and cafe located in Boulder,
      Colorado. Experience an audio tour of the location below.
    </em>
  </p>

  <TridentSectionSelector section={section} />
  <TridentSection section={section} />
  <TridentPrevNextButtons section={section} />
  <TridentFooter />
</Layout>
