---
import SimpleIcon from "./SimpleIcon.astro";

const { data } = Astro.props;
---

<a
  class={`social-link ${data.type}`}
  title={data.type}
  href={data.url}
  target="_blank"
  rel="noopener noreferrer"
>
  <SimpleIcon name={data.type} iconUrl={data.iconUrl} />
  <span class="social-text">{data.text}</span>
</a>
